Facemaskdataset/
venv/
__pycache__/
outputs/
data/

*.csv
*.zip

# Model AI

*.h5

*.pt
*.pth

# Cache
__pycache__/
*.pyc

# Env
venv/
.env
venv_new/

# VSCode
.vscode/

# Build
dist/
build/

# Log
*.log
venv_new